@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;

  /** background **/
  background-color: #f0f2f5;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  text-align: center;
  padding: 8px 16px 0 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
